body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;	
	padding-top: 50px;
}

a.active-link {
 color: #2a6496;
 text-decoration: underline;
}


/*====*/
/*Home*/
/*====*/
.home {
	background-image: url('assets/bg-xs.jpg');
	background-repeat: no-repeat;
	height: 640px;
	max-width: 100%;
	padding-top: 270px;
	position: fixed;
	width: 100%;
	z-index: 0;
}

.content {
	position: relative;
	top: 640px;
	z-index: 1;
}

@media only screen and (min-width: 321px) and (max-height: 520px) {
	.home {
		background-image: url('assets/bg-s.jpg');
		height: 520px;
	}

	.content {
    top: 520px;
  }
}

@media only screen and (min-width: 361px) {
	.home {
		background-image: url('assets/bg-m.jpg');
		height: 1000px;
	}

	.content {
    top: 1000px;
  }
}

@media only screen and (min-width: 769px) {
	.home {
		background-image: url('assets/bg-l.jpg');
		padding-top: 475px;
	}

	.content {
    top: 1000px;
  }

	body {
    padding-top: 70px;
  }

	.navbar-brand { 
		left: 50px;
		position: relative;
	}
}

@media only screen and (min-width: 981px) {
	.home {
		background-image: url('assets/bg-xl.jpg');
	}
  .content {
    top: 1000px;
  }
}

@media only screen and (min-width: 1501px) {
	.home {
		background-color: #2C2626;
		background-image: url('assets/bg-xl.jpg');
		background-position: center center;
    background-size: cover;
	}

	.content {
    top: 1000px;
  }
}

.navbar-default {
  background: #fff;
}

.navbar-brand { 
	color: #000;
	font-size: 24px;
}

.first-name {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

.last-name {
  color: dimgray;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.menu-icon {
	cursor: pointer;
	left: -10px;
	padding: 5px;
	position: relative;
	top: -23px;
}

.menu-icon:hover {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px;
}

.dropdown-menu li {
  width: 100%;
}

.branding {
  position: relative;
  /* left: 40px; */
  top: 0;
}

@media only screen and (min-width: 768px) {
	.branding {
    position: relative;
    /* left: 40px; */
    top: 10px;
  }
}

.nav-links {
  position: relative;
  top: -18px;
}

.nav-link {
	color: #515151;
	font-family: 'Source Sans Pro', sans-serif;
	margin-right: 15px;
	text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
	/*Higher specificity won't override bootstrap's default !important rule*/
	/*div#dropdown-menu.navbar-collapse.collapse { display: none; }*/
	.navbar-collapse.collapse {
    display: none !important;
  }
}

.first-title {
	color: #332a2b;
	font-weight: 300;
	text-align: center;
}

.contact-button {
	background: #372811;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 10px;
	transition: all .4s;
}

.contact-button:hover {
	background: #38301D;
	color: white;
}

.contact-button:focus {
	color: white;
}

@media only screen and (min-width: 768px) {
	.contact-button {
		margin-top: 20px;
	}
}


/*===========*/
/*Recent Work*/
/*===========*/
.recent-work {
	background: #fff;
	padding: 50px 0;
}

.recent-work h2, .recent-work h3 {
	font-weight: 800;
	margin-top: 0;
}

.recent-work h2 {
  margin-bottom: 30px;
}

.work-block {
	margin-bottom: 60px;
}

.view-project {
	background: #2A2424;
	color: white;
	margin-top: 15px;
}

.view-project:hover {
	background: #000;
	color: white;
}

.view-project:focus {
  color: white;
}

.description-block {
	background: #fdfdfd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1),
		-1px 0px 1px rgba(0,0,0,.1);
	padding: 20px;
  word-wrap: break-word;
}

.showcase-img-container {
	text-align: center;
}

.showcase-img {
	display: inline-block;
	position: relative;
}

.showcase-img,
.showcase-img img {
  max-width: 100%;
}

.overlay {
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	transition: all .3s;
}

.overlay:hover {
  background: rgba(0,0,0,.5);
}

.showcase,
.overlay {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.play-store {
  float: right;
  margin-top: 10px;
  margin-right: 25px;
}

.github-icon {
  height: 15px;
}


/*=====*/
/*About*/
/*=====*/
.about {
	background: #f8f8f8;
	padding: 70px 0;
}

.about h2,
.about h3 {
  font-weight: 800;
}

.about h2 {
  margin-bottom: 30px;
  margin-top: 0;
}

.about .tech-expertise {
  margin-top: 50px;
}

.about p {
  font-size: 1.2em;
  line-height: 1.2em;
  padding-top: 20px 0;
}

.about ul {
  padding-left: 25px;
}

.about li {
	list-style-type: square;
}

.about-icon {
  height: 24px;
  margin-top: -7px;
}

@media screen and (max-width: 767px) {
	.about ul {
    padding-left: 30px;
  }

  .javier-photo {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .javier-photo {
    margin-top: -50px;
  }
}


/*=======*/
/*Contact*/
/*=======*/
.contact {
	/*Original background by Atle Mo at http://subtlepatterns.com/little-pluses/.  Modified to be darker brown*/
	background-image: url('assets/little_pluses_brown.png');
	padding: 50px 0;
	width: 100%;
}

.contact h4 {
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.chicago-map {
  max-width: 100%;
}

.contact-icon {
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
	.contact-pannel {
    margin-top: 40px;
  }	
}


/*=======*/
/*Carousel*/
/*=======*/
.item.active {
  cursor: zoom-in;
  display: block;
}
